@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure GitHub Integration</h1>
    <p>Please give a good feedback. Thank your for joining.</p>
</div>
